/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

.view {
  display: none;
}

/* web fonts */
#playeradd input::-webkit-input-placeholder,
#playeradd input,
.title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

html, body { height: 100%; }

body {
  -webkit-user-select: none;
  user-select: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

body b, body strong {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.scrollable {
  overflow: auto;
}

#playerselect h1,
#courseselect h1 {
  font-size: 10pt;
  padding: 5pt;
  background-color: #ddd;
  font-weight: 700;
}

#playerselect .player,
#courseselect .course {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 24pt;
  line-height: 36pt;
  padding-left: 10pt;
  transition: all .5s ease-out;
  overflow: hidden;
  cursor: pointer;
  color: #777;
  white-space: nowrap;
}

#courseselect .course {
  padding-bottom: 5pt;
  font-size: 19pt;
}

#courseselect .course .details {
  font-family: 'Raleway' sans-serif;
  font-size: 10pt;
  line-height: 12pt;
  margin-top: -7pt;
  margin-left: 2pt;
}

#playerlist, #courselist {
  max-height: 100%;
}

#playerselect .selected,
#courseselect .selected {
  padding-left: 20pt;
  background-color: #eee;
  color: black;
}

#playeradd input {
  width: 100%;
  font-size: 24pt;
  box-sizing: border-box;
  border: 1px solid #eee;
  border-width: 1px 0;
  text-indent: .2em;
}

#playeradd input:focus + #playeraddbutton {
  display: initial;
}

#button-selectcourse,
#button-startgame {
  position: absolute;
  bottom: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  border-top: 1px solid #777;
  background-color: #ddd;
  width: 100%;
  height: 4em;
  opacity: 0;
  transition: all .5s ease-out;
  cursor: pointer;
}

#playercount {
  position: absolute;
  top: 1.3em;
  left: 1em;
  font-family: 'Raleway' sans-serif;
  font-weight: 400;
}

#label-selectcourse,
#label-startgame {
  position: absolute;
  right: 1em;
  top: .5em;
  font-size: 20pt;
}

#button-courseplayers {
  background-color: #eee;
  padding: 5pt;
  position: relative;
  cursor: pointer;
}
